html {
    font-family: 'Pixelify Sans';
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-image: url(../img/card.png);
    background-size: 100% 100%;
    width: 240px;
    aspect-ratio: 714 / 664;
}

.fav-badge {
    text-align: right;
    padding: 10px 10px 0 0;
}

.fav-badge img {
    width: 19px;
    height: 18px;
}

.card-top{
    height: 70%;
}

.card-bottom {
    height: 37%;
}

.card-title {
    margin-left: 10px;
    font-size: 20px;
} 

.card-tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.card-tags li {
    padding-left: 6px;
}

.tag-section {
    display: flex;
    justify-content: space-between;
}

.del{
    width: 15px;
    height: 19px;
}

.vegetarian{
    width: 30px;
    height: 20px;
}

.time img {
    width: 20px;
    height: 22px;
}